body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{

    font-size: 50px;
    
}
 .orange-color{
    color: orange;
 }
 section{
    display: flex;
    margin-bottom: 100px;
 }
 .half-width{
       width: 50%;
       padding-left: 5%;
 }
  .half-width img{
    width: 80%;
  }
  .link-button{
   text-decoration: none;
   background-image: linear-gradient(orange,red,tomato);
   padding: 5px 40px;
   color: wheat;
   border-radius: 5px;
  }
  .top-banner{
    background-image:url(top-banner.png) ;
    background-repeat: no-repeat;
  }
  .dream-big{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
  }